<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>开源集市_收集最全面的JS相关开源项目</title>
    <link type="text/css" rel="stylesheet" href="../public/css/common.css">
    <link type="text/css" rel="stylesheet" href="../public/css/index.css">
</head>
<body>
<div id="header">
    <div class="w1180">
        <div class="logo"><h1><a href="/">开源集市</a></h1></div>
        <div class="nav">
            <ul>
                <li><a href="/">首页</a></li>
                <li><a href="/">UI特效</a></li>
                <li><a href="/">输入特效</a></li>
                <li><a href="/">媒体特效</a></li>
                <li><a href="/">导航特效</a></li>
            </ul>
        </div>
        <div class="head_login">
            <i class="login_icon">账号</i>
            <i class="arrow arrow_down"></i>
            <ul class="head_login_menu">
                <li><a href="#">登录</a></li>
                <li><a href="#">注册</a></li>
            </ul>
        </div>
        <div class="search">
            <i class="search_icon">搜索</i>
            <div class="search_frame">
                <form>
                    <label><input type="text" class="search_text"></label>
                    <label><input type="button" class="search_btn"></label>
                </form>
            </div>
        </div>
    </div>
</div>
<div id="banner">
    <div class="banner_text">OPEN SOURCE MARKET</div>
    <ul class="about_list">
        <li>总数<span>234</span></li>
        <li>下载<span>1234</span></li>
        <li>预览<span>5534</span></li>
        <li>评论<span>1234</span></li>
    </ul>
</div>
<div id="auto_menu"></div>

<script type="text/javascript" src="../public/js/jquery.min.js"></script>
<script type="text/javascript" src="../public/js/index.js?page=index"></script>
</body>
</html>